{% extends "base.html" %}

{% block title %}Demo check-overlap{% endblock %}

{% block content %}

<h2>check-overlap</h2>
{% if not output %}
<h3>Description:</h3>
<p>Check for overlapping routes.</p>
<h3>Details:</h3>
<ul>
    <li>In this demo: input route information (names, coordinates) and check for overlapping.</li>
</ul>
<h3>Notes:</h3>
<ul>
    <li>A route need at least 3 locations to make a polygon.</li>
    <li>May return more information of overlapping routes if needed.</li>
</ul>
{% endif %}
<h3>Demo:</h3>
<h4>Input:</h4>
<form method="POST">
    <ul>
        {% for i in range(d['names']|length) %}
        <li>
            Route name:
            <input id="{{ d['names'][i] }}" type="text" name="names" value="{{ d['names'][i] }}">
            <p>Coordinates: </p>
            <ul>
                {% for c in d['routes'][i] %}
                <li>
                    Latitude:
                    <input type="number" name="{{ d['variables'][i][0] }}" value="{{ c[0] }}">
                    Longitude:
                    <input type="number" name="{{ d['variables'][i][1] }}" value="{{ c[1] }}">
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <div class="form_button"><input type="submit" value="Get result"></div>
</form>
{% if output %}
<h4>Output:</h4>
<p>code: {{ output['code'] }}</p>
<p>message: {{ output['message'] }}</p>
<p>data:</p>
{% if output['data']|length > 0 %}
<ul>
    {% for overlap in output['data'] %}
    <li>Route "{{ overlap[0] }}" overlap with route "{{ overlap[1] }}".</li>
    {% endfor %}
</ul>
{% endif %}
<h3>Raw JSON: </h3>
<h4>Input: </h4>
<pre class="read_tag_json">{{ raw_in }}</pre>
<h4>Output: </h4>
<pre class="read_tag_json">{{ raw_out }}</pre>
{% endif %}

{% endblock %}
