{% extends "base.html" %}

{% block title %}Route Optimization Demo{% endblock %}

{% block content %}

<h3>Description:</h3>
<p>This page is used for demo of Route Optimization project.</p>
<h3>NOTE:</h3>
<ul>
    <li>This page ONLY for demo, not APIs. Do not copy these demo page addresses as APIs.</li>
    <li>
        There is "/api" before each API below. Example: "/api/optimize-route".
        Read API document for more details.
    </li>
    <li>
        <a href="https://github.com/nguyennguyen0110/demo-route-optimization"
           target="_blank" rel="noopener noreferrer">
            Link to source code
        </a>
    </li>
    <li>
        The Google Drive folder below contains notebooks demonstrating data exploration, feature engineering and
        selection, as well as model training and fine-tuning.
    </li>
    <li>
        <a href="https://drive.google.com/drive/folders/1uk2wWXAKqEtoYHPT-rFy7E97F42x8e1J?usp=sharing"
           target="_blank" rel="noopener noreferrer">
            Link to Google Drive
        </a>
    </li>
</ul>
<h3>Current APIs:</h3>
<ol>
    <li>
        <a href="{{ url_for('optimize_route') }}">/optimize-route: </a>optimize visit order to get the shortest
        route begin from depot (distributor) through locations (customers) and turn back to depot.
    </li>
    <li>
        <a href="{{ url_for('sale_route') }}">/sale-route: </a>optimize visit order to get the fastest route,
        support time window configuration for locations.
    </li>
    <li><a href="{{ url_for('check_overlap') }}">/check-overlap: </a>check for overlap routes.</li>
    <li>
        <a href="{{ url_for('suggest_frequency') }}">/suggest-frequency: </a>suggest visit frequency for a
        customer base on their information from database, or input their (estimated) information if new.
    </li>
    <li>
        <a href="{{ url_for('cluster_customer') }}">/cluster-customer: </a>
        cluster customer into groups base on their position.
    </li>
</ol>

{% endblock %}
