{% extends "base.html" %}

{% block title %}Demo optimize-route{% endblock %}

{% block content %}

<h2>optimize-route</h2>
{% if not output %}
<h3>Description:</h3>
<p>
    Optimize visit order to get the shortest route begin at depot (distributor)
    through locations (customers) and return to depot.
</p>
<h3>Details:</h3>
<ul>
    <li>
        In real project:
        <ul>
            <li>
                Check database and return result if we already had optimized this route within 28 days, else
                we optimize it as below.
            </li>
            <li>
                If more than 25 locations: Get distance, duration from GG Route API then create time matrix,
                distance matrix between locations (include depot). Use OR Tools to optimize route.
            </li>
            <li>If less: call Route API for optimized route.</li>
        </ul>
    </li>
    <li>
        In this demo: input the distances and durations matrices and use OR Tools to optimize the route.
    </li>
</ul>
<h3>Note:</h3>
<ul>
    <li>This demo just optimize maximum 15 locations (include depot).</li>
    <li>Depot must be the last location in list.</li>
    <li>
        Durations and distances must be int and not less than 0. For this demo page, if it cannot be converted
        to int, it will be omitted. Then an error about matrix length will be raised.
    </li>
    <li>
        If working distance, search time and number of vehicles are sent, they must be int and greater than 0.
    </li>
</ul>
{% endif %}
<h3>Demo:</h3>
<h4>Input:</h4>
<form method="POST">
    <p>Locations:</p>
    <ul>
        {% for loc in d['loc'] %}
        <li>{{ loc }}: <input type="text" name="locations" value="{{ loc }}"></li>
        {% endfor %}
    </ul>
    <p>Distances (in meters):</p>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>Depot</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(d['loc']|length) %}
        <tr>
            <td>{{d['loc'][i]}}</td>
            <td><input type="number" name="{{ d['di_n'][i] }}" value="{{ d['di_v'][i][0] }}"></td>
            <td><input type="number" name="{{ d['di_n'][i] }}" value="{{ d['di_v'][i][1] }}"></td>
            <td><input type="number" name="{{ d['di_n'][i] }}" value="{{ d['di_v'][i][2] }}"></td>
            <td><input type="number" name="{{ d['di_n'][i] }}" value="{{ d['di_v'][i][3] }}"></td>
            <td><input type="number" name="{{ d['di_n'][i] }}" value="{{ d['di_v'][i][4] }}"></td>
            <td><input type="number" name="{{ d['di_n'][i] }}" value="{{ d['di_v'][i][5] }}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Duration (in minutes):</p>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>Depot</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(d['loc']|length) %}
        <tr>
            <td>{{d['loc'][i]}}</td>
            <td><input type="number" name="{{ d['du_n'][i] }}" value="{{ d['du_v'][i][0] }}"></td>
            <td><input type="number" name="{{ d['du_n'][i] }}" value="{{ d['du_v'][i][1] }}"></td>
            <td><input type="number" name="{{ d['du_n'][i] }}" value="{{ d['du_v'][i][2] }}"></td>
            <td><input type="number" name="{{ d['du_n'][i] }}" value="{{ d['du_v'][i][3] }}"></td>
            <td><input type="number" name="{{ d['du_n'][i] }}" value="{{ d['du_v'][i][4] }}"></td>
            <td><input type="number" name="{{ d['du_n'][i] }}" value="{{ d['du_v'][i][5] }}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        Optional parameters:
        <input id="optional" type="checkbox" name="optional" value="Y">
        <label for="optional">Send optionals</label>
    </p>
    <ul>
        <li>
            <label for="working_distance">Working distance: </label>
            <input id="working_distance" type="number" name="working_distance" value="200000">
        </li>
        <li>
            <label for="search_time">Search time: </label>
            <input id="search_time" type="number" name="search_time" value="3">
        </li>
        <li>
            <label for="num_vehicles">Number of vehicles: </label>
            <input id="num_vehicles" type="number" name="num_vehicles" value="1">
        </li>
    </ul>
    <div class="form_button"><input type="submit" value="Get result"></div>
</form>
{% if output %}
<h4>Output:</h4>
<p>code: {{ output['code'] }}</p>
<p>message: {{ output['message'] }}</p>
<p>data:</p>
<ul>
    {% for v in output['data'] %}
    <li>
        Vehicle {{ loop.index0 }}:
        <ul>
            <li>Visit order: {{ ' => '.join(v['route']) }}</li>
            <li>Total distance: {{ '{:,}'.format(v['total_distance']) }}</li>
            <li>Total duration: {{ '{:,}'.format(v['total_duration']) }}</li>
            <li>
                Legs:
                <table>
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Leg</th>
                        <th>Distance</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(v['durations']|length) %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ v['route'][i] + ' => ' + v['route'][i+1] }}</td>
                        <td>{{ '{:,}'.format(v["distances"][i]) }}</td>
                        <td>{{ '{:,}'.format(v["durations"][i]) }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
<h3>Raw JSON: </h3>
<h4>Input: </h4>
<pre class="read_tag_json">{{ raw_in }}</pre>
<h4>Output: </h4>
<pre class="read_tag_json">{{ raw_out }}</pre>
{% endif %}

{% endblock %}
